/* Write your CSS here */
.button {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #ff0b37;
  color: #ff0b37;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  width: 80px;
}
.para {
  color: #000000;
  font-size: 40px;
}
.list-item-container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
